@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-color: #f2f2f2;
	--secondary-color: #fcee21;
	--dark-color: #000000;
	--light-color: #ffffff;
	
	--font-family-roboto: 'Roboto', sans-serif;
	--font-family-coiny: 'Coiny', cursive;
	
	--text-spacing-standard: 1.5;
	
	--spacing-none: 0px;
	--spacing-xs: 8px;
	--spacing-sm: 14px;
	--spacing-md: 18px;
	--spacing-lg: 28px;
	--spacing-xl: 42px;
	--spacing-xxl: 64px;
	--spacing-super: 128px;
	
	--font-size-sm: 14px;
	--font-size-md: 18px;
	--font-size-lg: 28px;
	--font-size-xl: 42px;
	--font-size-xxl: 64px;
	
	--border-radius-xs: 2px;
	
	--screen-height: 100dvh;
	
	--width-minimum: 244px;
	--width-mobile: 768px;
	--width-tablet: 960px;
	--width-desktop: 1280px;
	--width-big-screen: 1920px;
	
	--standard-form-height: 60px;
	--standard-form-width: 600px;
	
	--percentage-quarter: 25%;
	--percentage-half: 50%;
	--percentage-three-quarters: 75%;
	--percentage-full: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	
	padding: 0;
	margin: 0;
}

html {
	background-color: var(--secondary-color);
	font-family: var(--font-family-roboto);
}

body {
	min-width: var(--width-minimum);
	min-height: var(--screen-height);
	
	text-align: center;
	line-height: var(--text-spacing-standard);
	
	background-color: var(--primary-color);
	
	margin-block: var(--spacing-md);
	margin-inline: auto;
	
	/* background: linear-gradient(to top, #fcee21 9%, #f2f2f2 0); */
	border-radius: var(--border-radius-xs);
	
	transition: 1s ease;
}

.header-nav {
	flex-direction: column;
	align-items: center;
}

.header-nav a {
	padding-inline: var(--spacing-xs);
	text-decoration: none;
	color: var(--dark-color);
}

.header-nav a:hover {
	font-weight: bold;
	transition: 0.5s ease;
}

.main-introduction {
	flex-direction: column;
	align-items: top;
}

.aboutus-section {
	justify-content: center;
}

.division-spacing {
	margin-block: var(--spacing-xxl);
}

.servicios-section {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.servicios-section h2 {
	font-size: var(--font-size-lg);
}

.servicios-section strong {
	font-size: 125%;
}

.contact-section {
	flex-direction: column;
	align-items: center;
}

.form-query-section p {
	font-size: var(--font-size-lg);
	margin-bottom: var(--spacing-xs);
}

.form-query-section aside {
	font-size: var(--font-size-md);
	margin-block: var(--spacing-sm);
}

.form-section {
	min-width: var(--width-minimum);
	width: var(--percentage-three-quarters);
	max-width: var(--standard-form-width);
	text-align: start;
}

.form-section input::placeholder, .form-section textarea::placeholder {
	font-size: var(--font-size-md);
}

.form-section input{
	height: var(--standard-form-height);
	font-size: var(--font-size-md);
}

.form-section textarea{
	height: calc(var(--standard-form-height) * 2.8);
	font-size: var(--font-size-sm);
}

/* Etiquetas de Estilo */

.em-background {background-color: var(--secondary-color); color: var(--dark-color);} .str-background {background-color: var(--dark-color); color: var(--light-color);}
.color-red {color: darkred;}
.center-img {vertical-align: middle;} 

.width-1 {width: 20%;} .width-2 {width: 40%;} .width-3 {width: 60%;} .width-4 {width: 80%;} .width-full {width: var(--percentage-full);}
.relative { position: relative; } .absolute { position: absolute; }
.relative-right { right: 0; }

.block { display: block; } .inline-block { display: inline-block; }
.flex { display: flex;} .justify-center { justify-content: center;} .justify-end { justify-content: flex-end;} .justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; } .align-center { align-items: center;}
.flex-column { flex-direction: column; } .flex-row { flex-direction: row; } .flex-grow { flex-grow: 1; } .basis-0 { flex-basis: 0; }
.flex-wrap { flex-wrap: wrap; } .flex-nowrap { flex-wrap: nowrap; }
.flex-gap-xs { gap: var(--spacing-xs); } .flex-gap-sm { gap: var(--spacing-sm); } .flex-gap-md { gap: var(--spacing-md); } .flex-gap-lg { gap: var(--spacing-lg); } .flex-gap-xl { gap: var(--spacing-xl); }

.iline-padding-xs {padding-inline: var(--spacing-xs);} .iline-padding-sm {padding-inline: var(--spacing-sm);} .iline-padding-md {padding-inline: var(--spacing-md);} .iline-padding-lg {padding-inline: var(--spacing-lg);} .iline-padding-xl {padding-inline: var(--spacing-xl);}
.bck-padding-xs {padding-block: var(--spacing-xs);} .bck-padding-sm {padding-block: var(--spacing-sm);} .bck-padding-md {padding-block: var(--spacing-md);} .bck-padding-lg {padding-block: var(--spacing-lg);} .bck-padding-xl {padding-block: var(--spacing-xl);}
.auto-margin-left {margin-inline-start: auto;} .auto-margin-right {margin-right: auto;} .auto-margin-top {margin-top: auto;} .auto-margin-bottom {margin-bottom: auto;}

.text-center {text-align: center;} .text-left {text-align: left;}
.text-bold {font-weight: bold;} .text-normal {font-weight: normal;}
.text-spacing-sm {line-height: 1;} .text-spacing-md {line-height: var(--text-spacing-standard);} .text-spacing-lg {line-height: 2;}

.font-coiny {font-family: var(--font-family-coiny);} .font-roboto {font-family: var(--font-family-roboto);}
.font-sm {font-size: var(--font-size-sm); } .font-md {font-size: var(--font-size-md); } .font-lg {font-size: var(--font-size-lg); } .font-xl {font-size: var(--font-size-xl); } .font-xxl {font-size: var(--font-size-xxl); }

/* Media Queries */

@media screen and (min-width: 768px) { /* Universal Query */
	body {
		text-align: left;
		padding-inline: var(--spacing-super);
		padding-block: var(--spacing-lg);
	}
	
	.header-nav {
		flex-direction: row;
	}
	
	.header-nav a {
		padding-inline: var(--spacing-xxl);
	}
	
	.wwwapas-header {font-size: var(--font-size-lg);}
	.wwwapas-header strong {font-size: var(--font-size-xl);}
	
	.main-introduction {
		flex-direction: row;
		justify-content: space-between;
		text-wrap: nowrap;
	}
	
	.main-introduction img, .servicios-section img {
		width: var(--percentage-half);
	}
	
	.aboutus-section {
		justify-content: space-between;
	}
	
	.servicios-section {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.contact-section {
		flex-direction: row;
	}
	
	.form-query-section {
		margin-bottom: auto;
	}
	
	.form-section {
		margin-left: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) { /* Tablet */
	html {
		background-color: red;
	}
	
	body {
		max-width: var(--width-mobile);
		font-size: var(--percentage-half);
	}
	
	.header-nav a {
		padding-inline: var(--spacing-md);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1439px) { /* Desktop */
	html {
		background-color: green;
	}
	
	body {
		max-width: var(--width-tablet);
		font-size: var(--percentage-three-quarters);
	}
	
	.servicios-section h2 {
		font-size: var(--font-size-lg);
	}
}

@media screen and (min-width: 1440px) { /* Big Screen */
	html {
		background-color: blue;
	}
	
	body {
		max-width: var(--width-desktop);
	}
	
	.wwwapas-header {font-size: var(--font-size-xl);} 
	.wwwapas-header strong {font-size: var(--font-size-xxl);}
	
	.servicios-section h2 {
		font-size: var(--font-size-xl);
	}
}

/* Hall of Shame */

/*
.flex_1,
.flex_2,
.flex_3,
.flex_4,
.flex_5,
.flex_5a,
.flex_5b,
footer {
	display: flex;
}

.flex_1 {
	padding-top: 40px;
	justify-content: flex-end;
	align-items: center;
}

.flex_1 a {
	text-decoration: none;
	color: #26313b;
	padding-left: 156px;
	font-size: 24px;
}

.flex_1 a:hover {
	font-weight: 700;
}

.flex_2 {
	margin-top: 50px;
	justify-content: space-between;
}

.flex_2 h1 {
	font-size: 56px;
	line-height: 0px;
	padding: 60px 60px 0 0;
	color: black;
}

.flex_2 h1 strong {
	font: 700 96px 'Coiny', system-ui;
}

.flex_2 em {
	font-style: normal;
	font-size: 22px;
	background-color: #fcee21;
	padding: 0 32px 0 16px;
	text-align: center;
	display: inline-block;
	margin-bottom: 80px;
}

.flex_2 p {
	font-size: 26px;
}

.flex_2 img {
	vertical-align: middle;
}

.flex_3 {
	justify-content: space-around;
	margin-top: 64px;
	margin-bottom: 96px;
}

.flex_3 .section-1 {
	margin-right: auto;
}

.flex_3 .section-2 {
	padding-right: 68px;
}

.flex_3 h2 {
	font-size: 30px;
	font-weight: 900;
	background-color: #fcee21;

	display: inline-block;
	padding-right: 10px;
	padding-left: 4px;

	margin: 10px 0 10px 0;
}

.flex_3 p {
	font-size: 25px;
}

.flex_4 {
	justify-content: space-between;
	margin: 96px 166px 96px 0;
	font-size: 24px;
}

.flex_4 #servicios {
	padding-right: 96px;
}

.flex_4 h2 {
	font-size: 48px;
	margin-bottom: 48px;
}

.flex_4 li {
	margin: 30px 0 30px 24px;
}

.flex_4 strong {
	background-color: #fcee21;
	padding-right: 10px;
	padding-left: 5px;
	font-size: 32px;
}

.flex_5 {
	flex-direction: column;
	margin: 64px 0 128px 0;
}

.flex_5a {
	margin: 10px 0 160px 0;
	justify-content: flex-end;
}

.flex_5a div {
	margin: 0 auto 0 0;
}

.flex_5a p span {
	background-color: black;
	color: #f2f2f2;
	font-size: 48px;
	line-height: 160%;
	padding: 0 24px 0 24px;
}

.flex_5a aside {
	font-size: 24px;
	font-weight: 700;

	display: inline-block;
	background-color: #fcee21;
	padding: 0 30px 0 14px;
	margin-top: 24px;
}

.flex_5a .contact-div {
	margin: 0;
	height: 600px;
}

.flex_5a form {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.flex_5a .contact-text {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.flex_5a .contact-input,
.flex_5a .contact-messageinput {
	width: 600px;
	margin-bottom: 28px;

	font-size: 24px;
	padding: 10px;
}

.flex_5a .contact-input::placeholder,
.flex_5a .contact-messageinput::placeholder {
	font-size: 24px;
}

.flex_5a .contact-input {
	height: 60px;
}

.flex_5a .contact-messageinput {
	height: 160px;
}

.flex_5a .reset-button,
.flex_5a .submit-button {
	color: #f2f2f2;
	background-color: black;
	font-size: 24px;
	padding: 8px 64px 8px 64px;
	text-align: center;
	cursor: pointer;
}

.flex_5a .reset-button {
	transform: translateX(60%);
}

.flex_5a span {
	color: red;
}

.flex_5b {
	justify-content: space-between;
	margin: 0 248px 128px 0;
}

.flex_5b p {
	font-size: 26px;
	color: #686868bf;
	font-weight: 700;
	align-self: center;
}

footer p {
	font: 900 36px 'Coiny', system-ui;
}

footer a {
	align-self: center;
	margin-left: 112px;

	text-decoration: none;
	color: black;

	font-size: 18px;
	text-align: center;
}

footer a:hover {
	text-decoration: underline;
	color: #26313b;
	font-size: 20px;
	margin-left: 108px;

	transition: 0.25s linear;
}

hr {
	display: flex;
	justify-content: center;
	margin: 32px 0 32px 0;
	border: 1px solid #0000001f;
	filter: blur(1px);
}

@media (max-width: 768px) {
	html, body {
		padding: 16px;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		flex-direction: column;
	}
	
	body {
		background: linear-gradient(to top, #fcee21 3.2%, #f2f2f2 0);
	}
	
	.flex_1 {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
	
	.flex_1 img {
		margin: auto 0;
	}
	
	.flex_1 a {
		padding-left: 0;
		font-size: 20px;
	}
		
	.flex_2 {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.flex_2 h1 {
		font-size: 36px;
		padding: 24px 0 8px 0;
	}
	.flex_2 h1 strong {
		font-size: 64px;
	}
	.flex_2 em {
		font-size: 18px;
		padding: 0 12px;
		margin-bottom: 32px;
	}
	.flex_2 p {
		font-size: 20px;
		padding: 0 12px;
	}
	
	.flex_2 img {
		width: 80%;
	}
	
	.flex_3 {
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin: 48px 0;
	}
	.flex_3 h2 {
		font-size: 24px;
		margin: auto 10px;
	}
	.flex_3 p {
		font-size: 20px;
		padding: 0 12px;
		text-align: center;
	}
	
	.flex_3 .section-2 {
		padding-right: 0%;
	}
	
	.flex_4 {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0;
		margin: 48px 0;
	}
	.flex_4 #servicios {
		padding-right: 0;
	}
	.flex_4 h2 {
		font-size: 32px;
		margin-bottom: 24px;
	}
	.flex_4 li {
		font-size: 20px;
		margin: 16px 0;
		list-style-position: inside;
	}
	.flex_4 strong {
		font-size: 24px;
		padding: 0 8px;
	}
	
	.flex_4 img {
		width: 80%
	}

	.flex_5 {
		margin: 16px 0;
	}
	.flex_5a {
		flex-direction: column;
		align-items: center;
		margin: 0 0 32px 0;
		padding: 0;
	}
	
	.flex_5a div {
		margin: 0;
	}
	
	.flex_5a p {
		margin: auto 2px;
		text-align: center;
		font-size: 18px;
	}
	
	.flex_5a p span {
		font-size: 24px;
	}
	
	.flex_5a aside {
		margin: 2px 0 20px 0;
	}
	
	.flex_5a .contact-div {
		width: 100%;
		height: auto;
	}
	.flex_5a form {
		width: 100%;
		align-items: center;
	}
	.flex_5a .contact-text {
		font-size: 20px;
		text-align: center;
	}
	.flex_5a .contact-input,
	.flex_5a .contact-messageinput {
		width: 90%;
		font-size: 20px;
	}
	.flex_5a .contact-input {
		height: 48px;
	}
	.flex_5a .contact-messageinput {
		height: 120px;
	}
	.flex_5a .submit-button,
	.flex_5a .reset-button {
		
		padding: 12px;
		font-size: 20px;
		margin: 8px auto;
		transform: none;
	}
	
	.flex_5b {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		margin: 0;
	}
	.flex_5b p {
		font-size: 20px;
		text-align: center;
		margin-bottom: 16px;
	}
	
	footer {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	footer a {
		display: block;
		margin: 8px 0;
		font-size: 18px;
	}
}
*/